.profile_section{
    background-color: #212121;
}
.name_title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.work_profile{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}